@use 'sass:color';

.cn-button {
  --cn-button-color: var(--color-black);
  --cn-button-background-color: transparent;
  --cn-button-border-radius: 100px;
  --cn-button-padding-vertical: 10px;
  --cn-button-padding-horizontal: 24px;
  --cn-button-font-size: 14px;
  --cn-button-border-width: 1px;
  --cn-button-border-color: transparent;
  --cn-button-font-weight: 500;
  $root: &;

  display: flex;
  align-items: center;
  border-style: solid;
  border-width: var(--cn-button-border-width);
  border-color: var(--cn-button-border-color);
  border-radius: var(--cn-button-border-radius);
  font-weight: var(--cn-button-font-weight);
  font-size: var(--cn-button-color);
  letter-spacing: 0.1px;
  color: var(--cn-button-color);
  background-color: var(--cn-button-background-color);
  transition: box-shadow var(--animation-time) linear, background-color var(--animation-time) linear;
  cursor: pointer;
  padding: var(--cn-button-padding-vertical) var(--cn-button-padding-horizontal);

  &__prefix-icon {
    margin-right: 12px;
  }

  &__suffix-icon {
    margin-left: 12px;
  }

  &__content {
    font-weight: var(--cn-button-font-weight);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.with-icon {
    --cn-button-padding-horizontal: 16px;
  }

  &--filled {
    --cn-button-background-color: var(--color-sys-light-primary);
    --cn-button-color: var(--color-white);

    &:not(&:disabled) {
      &:hover {
        box-shadow: var(--box-shadow-1);
      }

      &:active {
        --cn-button-background-color: var(--color-sys-light-on-primary-white-12)
      }
    }

    &:disabled {
      --cn-button-background-color: var(--color-sys-light-on-surface-12);
      --cn-button-color: var(--color-sys-light-on-surface);
    }
  }

  &--outlined {
    --cn-button-border-color: var(--color-sys-light-outline);
    --cn-button-border-width: 1px;
    --cn-button-color: var(--color-sys-light-primary);

    &:not(&:disabled) {
      &:hover {
        --cn-button-background-color: var(--color-sys-light-on-primary-8);
        --cn-button-border-color: var(--color-sys-light-primary);
      }

      &:active {
        --cn-button-background-color: var(--color-sys-light-on-primary-12);
      }
    }

    &:disabled {
      --cn-button-border-color: var(--color-sys-light-on-surface-12);
      --cn-button-color: var(--color-sys-light-on-surface);
    }
  }

  &--text {
    --cn-button-padding-horizontal: 12px;

    &:not(&:disabled) {
      &:hover {
        --cn-button-background-color: var(--color-sys-light-on-primary-8);
      }

      &:active {
        --cn-button-background-color: var(--color-sys-light-on-primary-12);
      }
    }
  }

  &--elevated {
    --cn-button-color: var(--color-sys-light-primary);
    --cn-button-background-color: var(--color-sys-light-surface-container-low);

    &:not(&:disabled) {
      box-shadow: var(--box-shadow-1);

      &:hover {
        --cn-button-background-color: var(--color-sys-light-on-primary-8);

        box-shadow: var(--box-shadow-2);
      }

      &:active {
        --cn-button-background-color: var(--color-sys-light-on-primary-12);
      }
    }

    &:disabled {
      --cn-button-background-color: var(--color-sys-light-on-surface-12);
      --cn-button-color: var(--color-sys-light-on-surface);
    }
  }

  &--tonal {
    --cn-button-background-color: var(--color-sys-light-secondary-container);

    &:not(&:disabled) {
      &:hover {
        box-shadow: var(--box-shadow-1);
      }

      &:active {
        --cn-button-background-color: var(--color-sys-light-secondary-black-container-12)
      ;

        box-shadow: none;}
    }

    &:disabled {
      --cn-button-background-color: var(--color-sys-light-on-surface-12);
      --cn-button-color: var(--color-sys-light-on-surface);
    }
  }

  &__prefix-icon,
  &__suffix-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}
