.cn-input {
  --cn-input-placeholder-color: var(--color-sys-light-on-primary-12);
  --cn-input-color-outline: var(--color-sys-light-on-primary-12);
  --cn-input-color: var(--color-sys-light-on-primary-8);
  --cn-input-border-raduis: 8px;
  --cn-input-font-size: 14px;
  --cn-input-line-height: 22px;
  --cn-input-padding-vertical: 10px;
  --cn-input-padding-horizontal: 14px;
  --cn-input-color-background: var(--color-white);
  --cn-input-box-shadow-color: var(--color-sys-light-on-primary-8);

  $root: &;

  display: flex;
  align-items: center;
  outline: var(--cn-input-color-outline) solid 1px;
  border-radius: var(--cn-input-border-raduis);
  box-shadow: 0 0 0 0 var(--cn-input-box-shadow-color);
  font-size: var(--cn-input-font-size);
  line-height: var(--cn-input-line-height);
  color: var(--cn-input-color);
  background-color: var(--cn-input-color-background);
  transition: outline-color var(--animation-time) linear, box-shadow var(--animation-time) linear;
  padding: var(--cn-input-padding-vertical) var(--cn-input-padding-horizontal);

  &__inner {
    width: 100%;
    outline: none;
    border: none;
    background: none;

    &.textarea {
      font-size: 20px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &::placeholder {
      color: var(--cn-input-placeholder-color);
    }
  }

  &__prefix {
    height: 18px;
    padding-right: 8px;
  }

  &__suffix {
    height: 18px;
    padding-left: 8px;
  }

  &__error {
    font-size: 12px;
    color: var(--color-error-500);
    margin-top: 4px;
  }

  &.is-focus {
    --cn-input-color-outline: var(--color-sys-light-primary);

    box-shadow: 0 0 0 4px var(--cn-input-box-shadow-color);
  }

  &.is-error {
    --cn-input-color-outline: var(--color-error-300);

    &.is-focus {
      --cn-input-color-outline: var(--color-error-500);
      --cn-input-box-shadow-color: var(--color-error-200);
    }
  }

  &.disabled {
    --cn-input-color-background: var(--color-sys-light-surface-container-low);

    pointer-events: none;
    user-select: none;

    #{$root}__prefix,
    #{$root}__suffix {
      color: var(--color-sys-light-on-primary-8);
    }
  }

  &.full-filled {
    --cn-input-color-outline: var(--color-sys-light-primary);
  }

  &__prefix,
  &__suffix {
    font-size: 18px;
    color: var(--color-black);
  }
}
