.cn-input {
  --cn-input-placeholder-color: var(--color-sys-light-primary);

  display: flex;
  align-items: center;

  &__inner {
    &::placeholder {
      color: var(--cn-input-placeholder-color);
    }
  }
}
